#header {
    position: sticky;
    top: 0px;
    background-color: white;
    display: flex;
    height: 100px;
}
#head {
    position: sticky;
    top: 0px;
    background-color: white;
    display: flex;
    height: 100px;
}
#drp{
    margin-left: 12%;
    margin-top: 20px;   
}
#n001{
    position: fixed; 
    left: 11%;
    top:15%;
    width:80%;
    background-image: url('images/logo_blue.png');
    background-position: 20px 1px;
    background-repeat: no-repeat;
}

/* According CSS inside Sidebar*/
.accordion {
    background-color: white;
    color: rgb(140, 140, 255);
    cursor: pointer;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: rgb(140, 140, 255);
    color: white;
}
.accordion:after {
    content: '\002B';
    color: rgb(140, 140, 255);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
    color: white;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
